<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Rrooms"
        tools:targetApi="31">
        <activity
            android:name=".hostelsecond"
            android:exported="false" />
        <activity
            android:name=".save_timeeee"
            android:exported="false" />
        <activity
            android:name=".personal_ass"
            android:exported="false" />
        <activity
            android:name=".save_time"
            android:exported="false" />
        <activity
            android:name=".first"
            android:exported="false" />
        <activity
            android:name=".flate_house"
            android:exported="false" />
        <activity
            android:name=".hostle"
            android:exported="false" />
        <activity
            android:name=".pg"
            android:exported="false" />
        <activity
            android:name=".Introduction"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".SignUpActivity"
            android:exported="false" />
        <activity
            android:name=".SignUp_Login_Firebase"
            android:exported="false" />
        <activity
            android:name=".login"
            android:exported="false" />
        <activity
            android:name=".sigup"
            android:exported="false" />
        <activity
            android:name=".splash"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>